@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p{
    font-size: 25px;
}